@page "/cart"
@inherits BasePage

<AuthorizeView>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
    <Authorized>
        <div class="mainContent">
            <MudText Typo="Typo.h4">My cart</MudText>
            <ConditionComponent Condition="cartItems.Any()">
                <NotMatch>
                    The cart is empty
                </NotMatch>
                <Match>
                    @foreach (var cartItem in cartItems)
                    {
                        <div class="cartItem">
                            <div style="display:flex">
                                <div style="background-image: url(@cartItem.Item.CoverPictureUri);" class="coverPicture" />
                                <p class="m-2 h6 mw-50">@cartItem.Item.Name</p>
                            </div>
                            <div style="display:flex; flex-direction:column; padding:0.5rem;">
                                <p class="h6 text-end">@cartItem.Item.Price €</p>
                                <div style="display:flex;">
                                    <MudNumericField Value="cartItem.Amount" Label="Amount" Variant="Variant.Text" Min="1" Style="width:2.5rem;" ValueChanged="async (int value) => await UpdateCartItemAmountAsync(value, cartItem, CancellationToken)" />
                                    <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="async () => await DeleteCartItemAsync(cartItem, CancellationToken)"> delete</MudIconButton>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="toPaymentContainer">
                        <div class="toPaymentTotal">
                            Total
                            @GetTotal() €
                        </div>
                        <MudButton ButtonType="ButtonType.Button" Variant="Variant.Text" Style="background-color:var(--lightGreen); width:90%;" OnClick="NavigateToPayment"> To payment</MudButton>
                    </div>
                </Match>
            </ConditionComponent>
        </div>
    </Authorized>
</AuthorizeView>
