@page "/Items/{Id:long}"

@inherits BasePage

<ConditionComponent Condition="!IsLoading">
    <Match>
        <ConditionComponent Condition="item != null">
            <Match>
                <ConditionComponent Condition="pictures.Count() > 0">
                    <Match>
                        <MudCarousel Class="mud-width-full" ItemsSource="@pictures" Style="height:200px;" ShowArrows="@(pictures.Count() > 1)" ShowBullets="@(pictures.Count() > 1)" AutoCycle="false">
                            <ItemTemplate>
                                <div class="d-flex h-100">
                                    <MudImage Src="@context" Class="mx-auto my-auto h-100" />
                                </div>
                            </ItemTemplate>
                        </MudCarousel>
                    </Match>
                </ConditionComponent>
                <div class="mainContent">
                    <div class="d-flex justify-content-between">
                        <MudText Typo="Typo.h5">@item.Name</MudText>
                        <MudText Typo="Typo.h5">@item.Price €</MudText>
                    </div>
                    <MudText Typo="Typo.h5" Style="margin-top: 4rem;">Description</MudText>
                    <MudText Typo="Typo.body2" Style="margin-top: 0.5rem;">@item.Description</MudText>
                </div>
                <AuthorizeView>
                    <Authorized>
                        <button class="addButton">Add to cart</button>
                    </Authorized>
                    <NotAuthorized>
                        <div class="addButton">Login to be able to add to cart</div>
                    </NotAuthorized>
                </AuthorizeView>
            </Match>
            <NotMatch>
                <MudAlert Severity="Severity.Error">There is no item with the id @Id</MudAlert>
            </NotMatch>
        </ConditionComponent>
    </Match>
    <NotMatch>
        <MudSkeleton Width="30%" Height="42px;" />
        <MudSkeleton Width="100%" />
        <MudSkeleton Width="100%" />
        <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
    </NotMatch>
</ConditionComponent>