@page "/Items/{Id:long}"

@inherits BasePage

<ConditionComponent Condition="!IsLoading">
    <Match>
        <ConditionComponent Condition="item != null">
            <Match>
                <ConditionComponent Condition="pictures.Count() > 0">
                    <Match>
                        <MudCarousel Class="mud-width-full" ItemsSource="@pictures" Style="height:200px;" ShowArrows="@(pictures.Count() > 1)" ShowBullets="@(pictures.Count() > 1)" AutoCycle="false">
                            <ItemTemplate>
                                <div class="d-flex h-100">
                                    <MudImage Src="@context" Class="mx-auto my-auto h-100" />
                                </div>
                            </ItemTemplate>
                        </MudCarousel>
                    </Match>
                </ConditionComponent>
                <MudText Typo="Typo.h5">@item.Name</MudText>
                <h5 Style="text-align:right">@item.Price €</h5>
                <MudText Typo="Typo.h5">Description</MudText>
                <MudText Typo="Typo.body2">@item.Description</MudText>
                <AuthorizeView>
                    <Authorized>
                        <MudButton Variant="Variant.Text" Color="Color.Primary" Style="position: fixed;
    background-color: var(--primary);
    border-radius:1rem;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    bottom: 4rem;
    z-index: 3;">Add to cart</MudButton>
                    </Authorized>
                    <NotAuthorized>
                        <MudText Style="position: fixed;
    background-color: var(--primary);
    border-radius:1rem;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    bottom: 4rem;
    z-index: 3;">Login to be able to add to cart</MudText>
                    </NotAuthorized>
                </AuthorizeView>
            </Match>
            <NotMatch>
                <MudAlert Severity="Severity.Error">There is no item with the id @Id</MudAlert>
            </NotMatch>
        </ConditionComponent>
    </Match>
    <NotMatch>
        <MudSkeleton Width="30%" Height="42px;" />
        <MudSkeleton Width="100%" />
        <MudSkeleton Width="100%" />
        <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
    </NotMatch>
</ConditionComponent>