@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
	<div style="position: sticky;
				background-color: lightblue;
				height: 2rem;
				width: 100%;
				top: 0;
				z-index: 3;">
		<MudImage Src="..\Assets\LogoTemp.png" Style="Height:90%;"></MudImage>
	</div>
	<div style="margin-bottom:4rem;">
		@Body
	</div>
	<MudTabs Outlined="true" Centered="true" Style="position:fixed; bottom:0;" Position="Position.Bottom" MinimumTabWidth="calc(100vw/3 - 1px)">
		<MudTabPanel Icon="@Icons.Material.Filled.Home" OnClick="@(() => NavigationManager.NavigateTo("/"))" />
		<MudTabPanel Icon="@Icons.Material.Filled.Calculate" OnClick="@(() => NavigationManager.NavigateTo("/cart"))" />
		<MudTabPanel Icon="@Icons.Material.Filled.AutoGraph" OnClick="@(() => NavigationManager.NavigateTo("/profile"))" />
	</MudTabs>
</MudLayout>