@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <div style="justify-content: flex-end">
        <MudTabs Outlined="true" Centered="true" Position="Position.Bottom" MinimumTabWidth="33vw">
            <MudTabPanel Icon="@Icons.Material.Filled.Home" OnClick="@(() => NavigationManager.NavigateTo("/"))" />
            <MudTabPanel Icon="@Icons.Material.Filled.Calculate" OnClick="@(() => NavigationManager.NavigateTo("/counter"))" />
            <MudTabPanel Icon="@Icons.Material.Filled.AutoGraph" OnClick="@(() => NavigationManager.NavigateTo("/fetchdata"))" />
        </MudTabs>
    </div>
</div>
