@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <div class="headerContainer">
        <MudImage Src="..\Assets\LogoTemp.png" Class="d-flex mx-auto mb-1" Style="Height:1rem;"></MudImage>
        <SearchBar Style="border-radius:0.5rem; padding-left:0.2rem; padding-right:0.2rem; background-color:white;"></SearchBar>
    </div>
    <div style="margin-bottom:4rem; min-height:calc(100vh - 8rem) ">
        @Body
    </div>
    <MudTabs Outlined="true" Centered="true" Style="position:fixed; bottom:0;" Position="Position.Bottom" MinimumTabWidth="calc(100vw/3 - 1px)">
        <MudTabPanel Icon="@Icons.Material.Filled.Home" OnClick="@(() => NavigationManager.NavigateTo("/"))" />
        <MudTabPanel Icon="@Icons.Material.Filled.ShoppingBag" OnClick="@(() => NavigationManager.NavigateTo("/cart"))" />
        <MudTabPanel Icon="@Icons.Material.Filled.Person" OnClick="@(() => NavigationManager.NavigateTo("/profile"))" />
    </MudTabs>
</MudLayout>
